<!--The content below is only a placeholder and can be replaced.-->
<div>
  <div>
    第一句话： {{ message }}!
  </div>

  <hr />

  <div>
    <img src="../assets/map.png">
  </div>

  <hr />

  <div>
    <button (click)="clickBtn()">点击一下</button>
    <p>{{ click_msg }}</p><span>点击次数：{{ click_count }}</span>
  </div>

  <hr />

  <ul>
    <li *ngFor="let item of list_data">
      <span>姓名：{{item.name}}</span><span>年龄：{{item.age}}</span>
    </li>
  </ul>

  <hr />

  <div>
    <button (click)="showOrHide()">显示或者隐藏</button>
    <div class="show-or-hide" *ngIf="is_show">
      显示或者隐藏的元素
    </div>
  </div>

  <hr />
  
  <div>
    <p>表单</p>
    <div>输入内容：{{ input_content }}</div>
    <input [(ngModel)]="input_content" type="text" (ngModelChange)="inputChange()" >
    <div>数据变化了{{input_click_count}}次</div>
    <hr>
    <p>文本域表单</p>
    <div style="white-space: pre-line;">文本域内容: {{ textarea_content }}</div>
    <textarea [(ngModel)]="textarea_content" (ngModelChange)="textAreaChange()" placeholder="这里是文本域"></textarea>
    <div>文本域数据变化次数：{{ textarea_change_count }}</div>
  </div>

  <div>
    {{ ajax_data }}
  </div>

  <hr />
  <app-anohter></app-anohter>
</div>

